---
http_interactions:
- request:
    method: post
    uri: https://api.stagingeb.com/v1/contact_requests
    body:
      encoding: UTF-8
      string: '{"name":"Test","phone":"123456789","email":"test@test.com","property_id":"EB-C0156","message":"Test
        message","source":"mydomain.com"}'
    headers:
      Content-Type:
      - application/json
      Charset:
      - utf-8
      X-Authorization:
      - l7u502p8v46ba3ppgvj5y2aad50lb9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"7fc3f09bcad46fb34713ee8ba90cb3ad"
    body:
      encoding: UTF-8
      string: '{"status":"successful"}'
  recorded_at: Tue, 21 Dec 2021 16:09:56 GMT
recorded_with: VCR 5.1.0
