<div class="pagination">
  <%if @current_page == 1%>
    <a class="pagination-btn disabled">Previous page</a>
  <%else%>
    <%=link_to 'Previous page', root_path(:page => @current_page - 1), class:'pagination-btn'%>
  <%end%>

  <%if @current_page == @total_pages + 1%>
    <a class="pagination-btn disabled">Next page</a>
  <%else%>
    <%=link_to 'Next page', root_path(:page => @current_page + 1), class:'pagination-btn'%>
  <%end%>
</div>