/* Main wrapper */
.index-heading {
  text-align: center;
  letter-spacing: 2px;
}
.main-wrapper {
  width: 85vw;
  height: auto;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;

  .property-card {
    width: 370px;
    height: 425px;
    background-color: #ececec;
    margin: 10px;
    border-radius: 15px;
    padding: 0 10px;
    position: relative;
    transition: all 0.2s;

    .image {
      width: 100%;
      height: 200px;
      display: flex;
      align-items: center;
      justify-content: center;

      .noimage {
        font-style: italic;
      }

      img {
        width: 175px;
        height: 175px;
      }
    }

    .card-text {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      p {
        margin: 15px 0;
        text-align: center;
        height: 20px;
      }

      .public-id {
        font-style: italic;
      }

      .title {
        font-weight: 500;
      }
    }

    .property-link {
      overflow: hidden;
      width: 100%;
      height: 0%;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 15px;
      background-color: rgba($color: #000000, $alpha: 0.5);
      transition: all 0.2s;
      display: flex;
      align-items: center;
      justify-content: center;

      &-btn {
        padding: 15px;
        background-color: #ececec;
        border-radius: 15px;
        text-decoration: none;
        color: #333;
      }
    }

    &:hover {
      .property-link {
        height: 100%;
      }
    }
  }
}